 /* General CSS & Multiple CSS Classes*/
body {
  padding-top: 56px;
  text-align: center;
  
}

a, a:hover {
  text-decoration: none;
  color:black;
  
}

.nav-link, .card-header{
  padding: 8px 25px !important;
  font-family: 'Pacifico', cursive, sans-serif;
  color: white !important;
  
}


@keyframes link-backgrounds {
  from {color: #FC5C7D;}
  to {color: grey;}
}

h3, .our-music-section {
  padding: 20px 0px;
  border-bottom: 1px solid #FC5C7D;
  font-family: 'Pacifico', cursive, sans-serif;
}

ul{
  list-style:none;
}

.btn{
  font-size: 20px;
  color: white;
  background: #FC5C7D;  
  background: -webkit-linear-gradient(to right, #FC5C7D, #6A82FB);  
  background: linear-gradient(to right, #FC5C7D, #6A82FB);
  margin: 20px;
  border:none;
  border-radius: 60px;
}

.btn:hover{
    animation-name: link-backgrounds;
    animation-duration: 2s;
}

.navbar.bg-gradient-1, .footer-background, .list-group-item{
  background:#FC5C7D;
  background:-webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
  background:linear-gradient(to right, #6A82FB, #FC5C7D)
  
}

 /* Navbar*/
.logo{
  max-height: 60px;
  width: auto;
  margin-left: 2px;
  border-radius: 10px;
  margin-right: 30px;
  
}

.nav-item{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(#FC5C7D, #FC5C7D);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition:all .2s ease-in-out;
  
}

.navbar-toggler{
  margin-left: 450px;
  
}

@media (max-width: 767px) {
  .navbar-toggler{
    margin-left: 100px;
  
 }
}

.nav-item:hover{
  background-size: 100% 5px, auto;
  
}

.fab{
  margin-right: 40px !important;
  padding:7px;
  display: inline-block;
  color: grey;
  border: none;
  border-radius: 50%;
  background-color: white;
  font-size: x-large;
  
}

.fab:hover{
    animation-name: link-backgrounds;
    animation-duration: 2s;
}

/* Carousel*/
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.carousel-caption {
    text-decoration: none;
    top: 10%;
    bottom: auto;
    font-family: 'Pacifico', cursive, sans-serif;
    color: #6A82FB;
    text-shadow: 3px 1px black;
    
}

.carousel-caption h1, h2 {
  font-size: 200%;
  
}

@media only screen and (max-width: 360px) and (max-height: 640px){
.carousel-caption h1, h2 {
  font-size: 180%;
  
}
}

 /* What We Do*/
.card{
  background: #6A82FB;  
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  
  background: linear-gradient(to right, #6A82FB, #FC5C7D);
  font-family: 'Pacifico', cursive, sans-serif;
  
}

.card-text{
  font-family: sans-serif;
  min-height: 96px;
  
}

.clickable-container{
  background-image: linear-gradient(#FC5C7D, #FC5C7D);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition:all .2s ease-in-out;
  padding: 8px 25px !important;
  font-family: 'Pacifico', cursive, sans-serif;
  color: white !important;
}

.clickable-container:hover {
  background-size: 100% 5px, auto;
}

.list-group-item{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(#FC5C7D, #FC5C7D);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition:all .2s ease-in-out;
  color:white;
  
}

.list-group-item:hover{
  background-size: 100% 5px, auto;

}

 /* Our Band*/
.profile-pictures{
  margin-top: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  
}

.embed-responsive{
  margin: 0px 10px 40px 10px;
  
}

 /* Music*/
.music-button{
  padding-bottom: 10px;
  margin-top: 40px;
  border-radius: 20px;
  
}

 /* Review & Contact Form*/
.review-contact{
  margin-top: 30px;
  
}

.contact-form-area{
  max-height: 450px;
  min-height: 450px;
  border-radius: 10px;
  
}

.review-border{
  border: 2px solid #FC5C7D;
  border-radius: 10px;
  
}

.review-section{
  background-color: white;
  max-height: 450px;
  min-height: 450px;
}

.five-star{
  max-width: 200px;
  height: auto;
  padding-bottom: 20px;
  padding-top: 60px;
  
}

.review-text{
  text-shadow: none;
  line-height: 25px;
  color: black;
  font-family: sans-serif, monospace;
  padding: 40px 0px 20px 0px;
  
}

.contact-form-button{
  margin: 20px 0px;
  
}

.field-padding{
  margin-bottom: 20px;
  
}

 /* Footer*/
.footer-icons{
  padding-top: 20px;
  margin-top: 20px;
  
}