 /* General CSS & Multiple CSS Classes*/
body {
  text-align: center;
  background-image: linear-gradient(to right, #242348, #595896);
  color: #FDFDFF;
  overflow: auto;
  margin-top: 50px;
  
}

a, a:hover {
  text-decoration: none;
  color:#FDFDFF;
  
}

.nav-link, .card-header{
  padding: 8px 25px !important;
  font-family: 'Sniglet', 'Comfortaa', cursive;
  color: #FDFDFF !important;
  
}


@keyframes link-backgrounds {
  from {color: #E83C86;}
  to {color: grey;}
}

h3, .our-music-section {
  padding: 20px 0px;
  border-bottom: 3px solid #E83C86;
  font-family: 'Sniglet', 'Comfortaa', cursive;
  
}

ul{
  list-style:none;
}

.btn{
  font-size: 20px;
  color: white;
  background: #E25894;  
  background-image: linear-gradient(to right, #E25894, #9749B3);
  margin: 20px;
  border:none;
  border-radius: 60px;
  text-shadow: none;
}

.btn:hover{
    animation-name: link-backgrounds;
    animation-duration: 2s;
}

.navbar.bg-gradient-1, .footer-background, .list-group-item{
  background: linear-gradient(to right, #242348, #595896);
  background-image: linear-gradient(to right, #242348, #595896);
  
}

 /* Navbar*/
 
.navbar{
  padding:0;
  
} 
.logo{
  max-height: 60px;
  width: auto;
  margin-left: 2px;
  border-radius: 10px;
  margin-right: 30px;
  
}
@media (max-width:767px) {
  .logo{
    top: 5px;
    left:12px;
    position: absolute;
    max-height: 41px;
    
  }
}

.nav-item{
  border-bottom: 3px solid #E83C86;
  background-image: linear-gradient(to right, #3436E6, #E83C86);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition:all .2s ease-in-out;
  
}

.navbar-toggler{
  top: 7px;
  right:14px;
  position: absolute;
  padding: 2px;
  
}

@media (max-width: 342px) {
  .navbar-toggler{
    margin-left: inherit;
  
 }
}
.nav-item:hover{
  background-size: 100% 5px, auto;
  
}

.fab{
  margin-right: 40px !important;
  display: inline-block;
  color: #FDFDFF;
  border: none;
  background-color: #4B4A82;
  font-size: x-large;
  
}

.fab:hover{
    animation-name: link-backgrounds;
    animation-duration: 2s;
}

@media (max-width:767px) {
.dropdown-padding{
  padding-top: 40px;
} 
}

/* Carousel*/
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  

}

.carousel-caption {
    text-decoration: none;
    top: 10%;
    bottom: auto;
    font-family: 'Sniglet', 'Comfortaa', cursive;
    color: white;
    
}

.carousel-caption h1, h2 {
  font-size: 200%;
  
}

@media only screen and (max-width: 380px){
.carousel-caption h1, h2 {
  font-size: 130%;
  
}
}

.background-highlight-one{
  background-color:black;
  max-width: 600px;
  transform: rotate(3deg);
  
}

.background-highlight-two{
  background-color:black;
  max-width: 600px;
  transform: rotate(0deg);
  
}

.background-highlight-three{
  background: linear-gradient(to top, rgb(102, 126, 234, .5), rgb(118, 75, 162, .5));
  max-width: 400px;
  transform: rotate(3deg);
  
}

.background-highlight-four{
  background: linear-gradient(to top, rgb(102, 126, 234, .5), rgb(118, 75, 162, .5));
  max-width: 600px;
  transform: rotate(0deg);
  
}

.background-highlight-five{
  background: linear-gradient(to top, rgb(255, 204, 255, .5), rgb(204, 0, 204, .5));
  max-width: 400px;
  transform: rotate(3deg);
  
}

.background-highlight-six{
  background: linear-gradient(to top, rgb(255, 204, 255, .5), rgb(204, 0, 204, .5));
  max-width: 400px;
  transform: rotate(0deg);
  
}

.background-highlight-seven{
  background: linear-gradient(to top, rgb(255, 204, 255, .5), rgb(204, 0, 204, .5));
  max-width: 500px;
  transform: rotate(2deg);
  
}

 /* What We Do*/
.card{
  background: linear-gradient(to right, #242348, #595896);
  font-family: 'Sniglet', 'Comfortaa', cursive;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, .5);
  
}

.card-text{
  font-family: 'Sniglet', 'Comfortaa', cursive;
  min-height: 96px;
  
}

.clickable-container{
  background-image: linear-gradient(to right, #3436E6, #E83C86);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition:all .2s ease-in-out;
  padding: 8px 25px !important;
  font-family: 'Sniglet', 'Comfortaa', cursive;
  color: white !important;
}

.clickable-container:hover {
  background-size: 100% 5px, auto;
}

.list-group-item{
  border-bottom: 1px solid #E83C86;
  background-image: linear-gradient(to right, #3436E6, #E83C86);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition:all .2s ease-in-out;
  color:white;
  
}

.list-group-item:hover{
  background-size: 100% 5px, auto;

}

 /* Our Band*/
.profile-pictures{
  margin-top: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  
}

.embed-responsive{
  margin: 0px 10px 40px 10px;
  
}

 /* Music*/
.music-button{
  padding-bottom: 10px;
  margin-top: 40px;
  border-radius: 20px;
  
}

 /* Review & Contact Form*/
.review-contact{
  margin-top: 30px;
  
}

.contact-form-area{
  max-height: 450px;
  min-height: 450px;
  border-radius: 10px;
  
}

.review-section{
  background-color: white;
  max-height: 450px;
  min-height: 450px;
}

.five-star{
  max-width: 200px;
  height: auto;
  padding-bottom: 20px;
  padding-top: 60px;
  
}

.review-text{
  text-shadow: none;
  line-height: 25px;
  color: black;
  font-family: 'Sniglet', 'Comfortaa', cursive;
  padding: 40px 0px 20px 0px;
  
}

.contact-form-button{
  margin: 20px 0px;
  
}

.field-padding{
  margin-bottom: 20px;
  
}

 /* Footer*/
.footer-icons{
  padding-top: 20px;
  margin-top: 20px;
  
}

 /* The Band Page*/

.our-band-collage{
  padding:56px 40px 0px 40px;
  max-height: 64vh;
  max-width: 1100px;
  
}

.our-band-page-header{
  font-size: 1.75rem;
  padding: 20px 0px;
  border-bottom: 3px solid #E83C86;
  font-family: 'Sniglet', 'Comfortaa', cursive;
  
}

/* Our Music Page*/
.adj-for-scroll{
  margin: 0;
  
}

/* Book Now Page*/
.book-now-form-area{
  padding-top: 56px;
  
}

.radio-inline{
  padding-right: 40px;
  
}

/* Events Page*/
.events-header{
  padding-top: 56px;
  
}

.events-videos{
  margin-top: 30px;
  
}

.events-bottom-borders{
  padding: 20px 0px;
  border-bottom: 3px solid #E83C86;
  
}