body {
  padding-top: 56px;
}

.logo{
  display: block;
  max-height: 60px;
  width: auto;
  margin-left: 2px;
  border-radius: 20px;
  margin-right: 30px;
}

.nav-item{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  background-image: linear-gradient(#FC5C7D, #FC5C7D);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition:all .2s ease-in-out;
}

.nav-item:hover {
  background-size: 100% 5px, auto;
}

.nav-link{
  padding: 8px 25px !important;
  font-family: 'Pacifico', cursive, sans-serif;
  color: white !important;
  text-align: center;
  
}

.fab{
  margin-right: 40px !important;
  padding:10px;
  display: inline-block;
  color: grey;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  
}

@keyframes link-backgrounds {
  from {color: #FC5C7D;}
  to {color: grey;}
}

.fab:hover{
    animation-name: link-backgrounds;
    animation-duration: 2s;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.carousel-caption {
    text-decoration: none;
    top: 10%;
    bottom: auto;
    font-family: 'Pacifico', cursive, sans-serif;
    color: #6A82FB;
    text-shadow: 3px 1px black;
    
}

.carousel-caption h1, h2 {
  font-size: 200%;
  
}

@media only screen and (max-width: 360px) and (max-height: 640px){
.carousel-caption h1, h2 {
  font-size: 180%;
  
}
}

.btn{
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
  background: #FC5C7D;  
  background: -webkit-linear-gradient(to right, #FC5C7D, #6A82FB);  
  background: linear-gradient(to right, #FC5C7D, #6A82FB);
  margin: 20px;
  border:0px solid transparent;
}

.btn:hover{
    animation-name: link-backgrounds;
    animation-duration: 2s;
}

h3 {
  padding: 20px 0px;
  border-bottom: 1px solid #FC5C7D;
  font-family: 'Pacifico', cursive, sans-serif;
}

.card{
  background: #6A82FB;  
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  
  background: linear-gradient(to right, #6A82FB, #FC5C7D);
  font-family: 'Pacifico', cursive, sans-serif;
  
}

.card-text{
  font-family: sans-serif;
  
}

a:link {
  text-decoration: none;
}

.clickable-container{
  text-align: center;
  background-image: linear-gradient(#FC5C7D, #FC5C7D);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition:all .2s ease-in-out;
  padding: 8px 25px !important;
  font-family: 'Pacifico', cursive, sans-serif;
  color: white !important;
}

.clickable-container:hover {
  background-size: 100% 5px, auto;
}
  
}

.portfolio-item {
  margin-bottom: 30px;
}


.navbar.bg-gradient-1{
  background:#FC5C7D;
  background:-webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
  background:linear-gradient(to right, #6A82FB, #FC5C7D)
  
}